<!DOCTYPE HTML>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container-fluid">
   <nav th:replace="~{fragments/nav :: nav}"></nav>


   <header class="jumbotron">
      <div class="row">
         <div class="col-sm">
            <H1 class="display-4 float-left" th:text="${longueurDto.name}">Length</H1>
         </div>
         <div class="col-sm my-auto">
            <div class="float-right" >
               <a class="btn btn-primary" th:href="@{/spit/new/{id}(id=${longueurDto.id})}" th:text="#{label.newSpit}">New Spit</a>
               <a class="btn btn-danger" th:href="@{/voie/delete/{id}(id=${longueurDto.id})}" th:text="#{label.delete}" >Delete</a>
               <a class="btn btn-primary" th:href="@{/voie/edit/{id}(id=${longueurDto.voieId})}" th:text="#{label.cancel}">Cancel</a>
               <button form="formlongueuradd" type="submit" class="btn btn-primary" th:text="#{label.submit}">Submit</button>
            </div>
         </div>
      </div>
   </header>

   <form id="formlongueuradd" class="row" action="#" th:action="@{/longueur/add}" method="POST" enctype="utf8">
      <div class="col-lg-6 mx-auto">
         <div class="card mt-2 mb-2">
            <div class="card-body">
               <div class="input-group mb-2">
                  <div class="input-group-prepend">
                     <div class="input-group-text" th:text="#{label.parentId}">Parent Id</div>
                  </div>
                  <input type="text" class="form-control" th:field="${longueurDto.voieId}" readonly>
               </div>

               <div class="input-group mb-2">
                  <div class="input-group-prepend">
                     <div class="input-group-text" th:text="#{label.name}">Name</div>
                  </div>
                  <input type="text" class="form-control" th:field="${longueurDto.name}" th:placeholder="#{placeholder.name}">
               </div>
            </div>
            <div class="card-footer">
               <span th:if="${#fields.hasErrors('longueurDto.name')}" th:errors="${longueurDto.name}"></span>
            </div>
         </div>
      </div>
      <div class="col-lg-6 mx-auto">
         <div class="card mt-2 mb-2">
            <div class="card-body">
               <div class="input-group mb-2">
                  <div class="input-group-prepend">
                     <div class="input-group-text" th:text="#{label.heigth}">Heigth</div>
                  </div>
                  <input type="text" class="form-control" th:field="${longueurDto.heigth}" th:placeholder="#{placeholder.heigth}">
               </div>
               <div class="input-group mb-2">
                  <div class="input-group-prepend">
                     <div class="input-group-text" th:text="#{label.cotation}">Cotation Id</div>
                  </div>
                  <select class="btn mb-2" th:field="${longueurDto.cotationId}">
                     <option th:each="cotation : ${cotationDtoList}" th:value="${cotation.id}" th:text="${cotation.levelFR}"></option>
                  </select>
               </div>
            </div>
            <div class="card-footer">
               <span th:if="${#fields.hasErrors('longueurDto.heigth')}" th:errors="${longueurDto.heigth}"></span>
            </div>
         </div>
      </div>

      <section class="row endpage">
         <div class="col-lg-8 col-sm-12" th:if="${spitDtoList!=null}">
            <div class="card mt-2 mb-2">
               <table class="table">
                  <thead class="card-header">
                  <tr>
                     <th scope="col" th:text="#{label.spitNumber}">Block number</th>
                     <th scope="col" th:text="#{label.cotation}">Cotation</th>
                     <th scope="col" th:text="#{label.relay}">Is relay</th>
                     <th scope="col" th:text="#{label.comment}">Comment</th>
                  </tr>
                  </thead>
                  <tbody class="card-body">
                  <tr th:each="spit : ${spitDtoList}">
                     <td th:text="${spit.number}">Number</td>
                     <td>
                        <!--select class="btn mb-2" th:field="${spit.cotationId}">
                           <option th:each="cotation : ${cotationDtoList}" th:value="${cotation.id}" th:text="${cotation.levelFR}"></option>
                        </select-->
                     </td>
                     <td>
                        <input class="btn mb-2" type="checkbox" name="isRelay"  th:checked="${spit.isRelay}"/>
                     </td>
                     <td>
                        <input type="text" th:field="${spit.comment}" th:placeholder="#{placeholder.comment}">
                     </td>
                  </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </section>

   </form>
   <footer th:replace="~{fragments/footer :: footer}">&copy; 2019 Escalade</footer>
</div>
</body>
</html>