<!DOCTYPE HTML>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container-fluid">
   <nav th:replace="~{fragments/nav :: nav}"></nav>

   <header class="jumbotron">
      <H1 class="display-4">Consultation Topos</H1>
   </header>

   <section>
      <form action="#" th:action="@{/updatetopo/{id}(id=${topoDto.id})}" th:object="${topoDto}" method="post">
         <label for="name">Name</label>
         <input type="text" th:field="*{name}" id="name" placeholder="Name">
         <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
         <br>
         <label for="region">Region</label>
         <input type="text" th:field="*{region}" id="region" placeholder="region">
         <span th:if="${#fields.hasErrors('region')}" th:errors="*{region}"></span>
         <br>
         <label for="date">Date</label>
         <input type="text" th:field="*{date}" id="date" placeholder="date">
         <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
         <br>
         <label for="pseudo">Manager</label>
         <input type="text" th:field="*{pseudo}" id="pseudo" placeholder="pseudo">
         <span th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}"></span>
         <br>

         <label for="longitude">Longitude</label>
         <input type="text" th:field="*{longitude}" id="longitude" placeholder="Longitude">
         <span th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}"></span>
         <br>
         <label for="latitude">latitude</label>
         <input type="text" th:field="*{latitude}" id="latitude" placeholder="latitude">
         <span th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}"></span>
         <br>

         <label for="description">Description</label>
         <input type="text" th:field="*{description}" id="description">
         <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
         <br>
         <label for="technic">technic</label>
         <input type="text" th:field="*{technic}" id="technic">
         <span th:if="${#fields.hasErrors('technic')}" th:errors="*{technic}"></span>
         <br>
         <label for="acces">acces</label>
         <input type="text" th:field="*{acces}" id="acces">
         <span th:if="${#fields.hasErrors('acces')}" th:errors="*{acces}"></span>
         <br>

         <label for="photoLink">Lien photo</label>
         <input type="text" th:field="*{photoLink}" id="photoLink" placeholder="Lien photo">
         <span th:if="${#fields.hasErrors('photoLink')}" th:errors="*{photoLink}"></span>
         <br>
         <label for="mapLink">Lien carte</label>
         <input type="text" th:field="*{mapLink}" id="mapLink" placeholder="Lien carte">
         <span th:if="${#fields.hasErrors('mapLink')}" th:errors="*{mapLink}"></span>
         <br>

         <input type="submit" value="Update Topo">
</form>


   </section>

   <footer th:replace="~{fragments/footer :: footer}">&copy; 2019 Escalade</footer>
</div>
</body>
</html>