<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}"></head>
<body>
<header>

</header>

<div class="container-fluid">
   <nav th:replace="~{fragments/nav :: nav}"></nav>
   <div class="row">
      <div class="col-lg-3 col-sm-12">
         <div class="row">
            <aside>
               <label th:text="#{label.topoList.alias}">Alias</label>
               <div th:text="${topoDto.alias}"></div>

               <label th:text="#{label.topoList.status}">Status</label>
               <div th:text="${topoDto.status}"></div>


               <div class="card" th:if="${addressDto != null}">
                  <h5 class="card-header">Address</h5>
                  <p class="card-text" th:text="${addressDto.street1}"></p>
                  <p class="card-text" th:text="${addressDto.street2}"></p>
                  <p class="card-text" th:text="${addressDto.zipCode}"></p>
                  <p class="card-text" th:text="${addressDto.city}"></p>
                  <p class="card-text" th:text="${addressDto.country}"></p>
               </div>
               <div class="card">
                  <h5 class="card-header"Coordonnées</h5>
                  <div class="card-title">
                     <label th:text="#{label.topoList.longitude}">Longitude</label>
                  </div>
                  <div class="card-text">
                     <div th:text="${topoDto.longitude}"></div>
                  </div>
                  <div class="card-title">
                     <label th:text="#{label.topoList.latitude}">latitude</label>
                  </div>
                  <div class="card-text">
                     <div th:text="${topoDto.latitude}"> </div>
                  </div>
               </div>


               <div class="card">
                  <div class="card-header">
                     <h5 th:text="#{label.topoList.access}">access</h5>
                  </div>
                  <div class="card-text">
                     <p th:text="${topoDto.access}"></p>
                  </div>
               </div>


               <a th:href="@{/topo/update/{id}(id=${topoDto.id})}">
                  <button th:text="#{label.topoList.consult}">Consult</button>
               </a>
            </aside>
         </div>
      </div>

      <div class="col-lg-6 col-sm-12">
         <div class="row">

            <section class="card bg-dark text-white">
               <img class="card-img" th:src="@{/images/{image}(image=${topoDto.photoLink})}" alt="photo"/>
               <div class="card-img-overlay">
                  <h5 class="card-header" th:text="${topoDto.name}">Topo's name</h5>
                  <p class="card-title" th:text="${topoDto.region}">  </p>
                  <p class="card-text" th:text="${#dates.format(topoDto.date,'dd MMMM yyyy')}">  </p>
               </div>
            </section>

            <section class="card">
                  <div class="card-header">
                     <h5 th:text="#{label.topoList.description}">description</h5>
                  </div>
                  <div class="card-text">
                     <p th:text="${topoDto.description}"></p>
                  </div>
            </section>
            <section  class="card">
               <div class="card-header">
                  <h5 th:text="#{label.topoList.technic}">technic</h5>
               </div>
               <div class="card-text">
                  <p th:text="${topoDto.technic}"></p>
               </div>
            </section>
         </div>
      </div>
      <div class="col-lg-3 col-sm-12">
         <div class="row">
            <aside  class="card col-lg-12" th:each="comment : ${commentDtoList}">
               <div class="card-header">
                  <h5 th:text="${comment.alias}"></h5>
               </div>
               <div class="card-text">
                  <p th:text="${comment.text}"></p>
               </div>
            </aside>
         </div>
      </div>
   </div>

   <footer th:replace="~{fragments/footer :: footer}">&copy; 2019 Escalade</footer>
</div>
</body>
</html>