<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<div class="container">
   <nav th:replace="~{fragments/nav :: navbar}"></nav>

   <header class="row">
      <div class=""col-sm-12>
         <H1>Liste des Topos</H1>
      </div>
   </header>

   <section class="row">
      <div class="col-lg-12">
      <form action="#" th:action="@{/updatetopo/{id}(id=${site.id})}" th:object="${site}" method="post">

   <label for="nom">Nom</label>
   <input type="text" th:field="*{nom}" id="nom" placeholder="Nom">
   <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
   <br>
   <label for="type">Type</label>
   <input type="text" th:field="*{type}" id="type" placeholder="Type">
   <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>
   <br>
   <label for="aCommentaire">A un commentaire</label>
   <input type="text" th:field="*{aCommentaire}" id="aCommentaire">
   <span th:if="${#fields.hasErrors('aCommentaire')}" th:errors="*{aCommentaire}"></span>
   <br>
   <label for="lienPhoto">Lien photo</label>
   <input type="text" th:field="*{lienPhoto}" id="lienPhoto" placeholder="Lien photo">
   <span th:if="${#fields.hasErrors('lienPhoto')}" th:errors="*{lienPhoto}"></span>
   <br>
   <label for="lienCarte">Lien carte</label>
   <input type="text" th:field="*{lienCarte}" id="lienCarte" placeholder="Lien carte">
   <span th:if="${#fields.hasErrors('lienCarte')}" th:errors="*{lienCarte}"></span>
   <br>
   <input type="submit" value="Update Site">
</form>

      </div>
   </section>

   <footer class="row">
      <div class="col-lg-12" th:replace="~{fragments/footer :: footer}">&copy; 2019 The Static Templates</div>
   </footer>
</div>
</body>
</html>