<!DOCTYPE HTML>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container-fluid">
   <nav th:replace="~{fragments/nav :: nav}"></nav>

   <header class="jumbotron">
      <div class="row">
         <div class="col-sm">
            <H1 class="display-4 float-left" th:text="#{title.topoNew}">New Topo</H1>
         </div>
         <div class="col-sm my-auto ">
            <div class="float-right">
               <a class="btn btn-primary" th:href="@{/topo/mylist}" th:text="#{label.cancel}">Cancel</a>
               <button class="btn btn-primary" type="submit" form="formaddtopo" th:text="#{label.submit}">Submit</button>
            </div>
         </div>
      </div>
   </header>

   <form  id="formaddtopo" class="row endpage" action="#" th:action="@{/topo/add}" method="POST" enctype="utf8">
      <div class="col-md-4">
         <div class="card mt-2 mb-2">
            <div class="card-header row">
               <div class="col-sm">
                  <h5 th:text="#{label.information}">Information</h5>
               </div>
               <div class="col-sm">
                  <input  type="text" class="form-control" th:field="${topoDto.aliasManager}" readonly/>
               </div>
            </div>
            <div class="card-body">
               <div class="input-group mb-2">
                  <div class="input-group-prepend">
                     <div class="input-group-text" th:text="#{label.name}">Name</div>
                  </div>
                  <input type="text" class="form-control" th:field="${topoDto.name}" th:placeholder="#{placeholder.name}">
               </div>
               <span th:if="${#fields.hasErrors('topoDto.name')}" th:errors="${topoDto.name}"></span>

               <div class="input-group mb-2">
                  <div class="input-group-prepend">
                     <div class="input-group-text" th:text="#{label.region}">Region</div>
                  </div>
                  <input type="text" class="form-control" th:field="${topoDto.region}" th:placeholder="#{placeholder.region}">
               </div>
               <span th:if="${#fields.hasErrors('topoDto.region')}" th:errors="${topoDto.region}"></span>

               <div class="input-group mb-2">
                  <div class="input-group-prepend">
                     <div class="input-group-text" th:text="#{label.date}">Date</div>
                  </div>
                  <input type="text" class="form-control" th:field="${topoDto.date}" th:placeholder="#{placeholder.date}">
               </div>

               <div class="input-group mb-2">
                  <div class="input-group-prepend">
                     <div class="input-group-text" th:text="#{label.longitude}">Longitude</div>
                  </div>
                  <input type="text" class="form-control" th:field="${topoDto.longitude}" th:placeholder="#{placeholder.longitude}">
               </div>
               <span th:if="${#fields.hasErrors('topoDto.longitude')}" th:errors="${topoDto.longitude}"></span>

               <div class="input-group mb-2">
                  <div class="input-group-prepend">
                     <div class="input-group-text" th:text="#{label.latitude}">Latitude</div>
                  </div>
                  <input type="text" class="form-control" th:field="${topoDto.latitude}" th:placeholder="#{placeholder.latitude}">
               </div>
               <span th:if="${#fields.hasErrors('topoDto.latitude')}" th:errors="${topoDto.latitude}"></span>

               <div class="form-inline">
                  <span class="btn mb-2" th:text="#{label.status}">Status</span>
                  <select class="btn mb-2" th:field="${topoDto.status}">
                     <option th:each="status : ${statusList}" th:value="${status}" th:text="${status}"></option>
                  </select>
                  <span class="btn mb-2" th:text="#{label.statusAuto}">Auto</span>
                  <input class="btn mb-2" type="checkbox" name="statusAuto"  th:checked="${topoDto.statusAuto}"/>
               </div>
            </div>
         </div>

         <div th:replace="~{fragments/address :: address}"></div>
      </div>

      <div class="col-md-8">
         <div class="card mt-2 mb-2">
            <div class="card-header">
               <h5 for="description" th:text="#{label.description}">Description</h5>
            </div>
            <div class="card-body">
               <textarea id="description" class="form-control input-sm" rows="3" th:field="${topoDto.description}" th:placeholder="#{placeholder.description}"></textarea>
            </div>
            <div class="card-footer">
               <span th:if="${#fields.hasErrors('topoDto.description')}" th:errors="${topoDto.description}"></span>
            </div>
         </div>

         <div class="card mt-2 mb-2">
            <div class="card-header">
               <h5 for="technic" th:text="#{label.technic}">Technic</h5>
            </div>
            <div class="card-body">
               <textarea id="technic" class="form-control input-sm" rows="3" th:field="${topoDto.technic}" th:placeholder="#{placeholder.technic}"></textarea>
            </div>
            <div class="card-footer">
               <span th:if="${#fields.hasErrors('topoDto.technic')}" th:errors="${topoDto.technic}"></span>
            </div>
         </div>

         <div class="card mt-2 mb-2">
            <div class="card-header">
               <h5 for="access" th:text="#{label.access}">Access</h5>
            </div>
            <div class="card-body">
               <textarea id="access" class="form-control input-sm" rows="3" th:field="${topoDto.access}" th:placeholder="#{placeholder.access}"></textarea>
            </div>
            <div class="card-footer">
               <span th:if="${#fields.hasErrors('topoDto.access')}" th:errors="${topoDto.access}"></span>
            </div>
         </div>
      </div>
   </form>


   <footer th:replace="~{fragments/footer :: footer}">&copy; 2019 Escalade</footer>
</div>
</body>
</html>