<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/head :: head}"></head>
<body>

   <div class="container-fluid  endpage">
      <nav th:replace="~{fragments/nav :: nav}"></nav>

      <header>
         <ul class="nav nav-tabs">
            <li class="nav-item">
               <a class="nav-link active"  th:href="@{'#'+${#strings.replace(topoDto.name,' ','')}}" >
                  <label th:text="${topoDto.name}">Link</label>
               </a>
            </li>
            <li class="nav-item" th:each="sector : ${sectorDtoList}">
               <a class="nav-link" th:href="@{/sector/read/{id}(id=${sector.id})}" >
                  <label th:text="${sector.name}">Link</label>
               </a>
            </li>
         </ul>
      </header>

            <div class="row">
               <div class="col-lg-3 col-sm-12">
                  <div class="row">
                     <div class="col-md-12">
                        <div  th:replace="~{topo/topo-info :: topoinfo}"></div>
                        <div th:replace="~{topo/topo-address :: topoaddress}"></div>
                     </div>
                  </div>
               </div>

            <div class="col-lg-6 col-sm-12">
               <div class="row">
                  <div class="col-md-12">
                     <div class="card mt-2 mb-2 bg-dark text-white" th:if="${topoDto.photoLink!=null}">
                        <img class="card-img" th:src="@{/images/topo/{image}(image=${topoDto.photoLink})}" alt="photo"/>
                        <div class="card-img-overlay">
                           <h5 class="card-header" th:text="${topoDto.name}">Topo's name</h5>
                           <p class="card-text" th:text="${topoDto.region}">  </p>
                           <p class="card-text" th:text="${#dates.format(topoDto.date,'dd MMMM yyyy')}">  </p>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-12" th:if="${topoDto.description!=null}">
                     <div class="card mt-2 mb-2">
                        <div class="card-header">
                           <h5 th:text="#{label.description}">description</h5>
                        </div>
                        <div class="card-text">
                           <p th:text="${topoDto.description}"></p>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-12" th:if="${topoDto.mapLink!=null}">
                     <div class="card mt-2 mb-2 bg-dark text-white">
                        <img class="card-img" th:src="@{/images/topo/{image}(image=${topoDto.mapLink})}" alt="map"/>
                     </div>
                  </div>

                  <div class="col-md-12" th:if="${topoDto.access!=null}">
                     <div class="card mt-2 mb-2">
                        <div class="card-header">
                           <h5 th:text="#{label.access}">access</h5>
                        </div>
                        <div class="card-text">
                           <p th:text="${topoDto.access}"></p>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-12" th:if="${topoDto.technic!=null}">
                     <div class="card mt-2 mb-2">
                        <div class="card-header">
                           <h5 th:text="#{label.technic}">technic</h5>
                        </div>
                        <div class="card-text">
                           <p row="3" th:text="${topoDto.technic}"></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-lg-3 col-sm-12">
               <div class="row">
                  <div class="col-md-12" sec:authorize="hasRole('ROLE_ADMIN')">
                     <div class="card mt-2 mb-2">
                        <div class="card-header">
                           <h5  th:text="#{label.tag}">Tag</h5>
                        </div>
                        <form id="formtag" class="card-body" action="#" th:action="@{/topo/tag/update/{id}(id=${topoDto.id})}"  method="POST" enctype="utf8">
                           <div th:each="tag : ${tags}" >
                              <input type="checkbox" name="taglist" th:value="${tag.id}" th:checked="${tag.activated}">
                              <label   th:text="${tag.name}">Tag</label>
                           </div>
                        </form>
                        <div class="card-footer">
                           <button form="formtag" type="submit" class="btn btn-primary float-right" th:text="#{label.submit}">Submit</button>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-12" sec:authorize="isAuthenticated()">
                     <div class="card mt-2 mb-2">
                        <div class="card-header inline-flex">
                           <div class="col-sm">
                              <h5 class="float-left" th:text="#{label.comment}">Comment</h5>
                           </div>
                           <div class="col-sm">
                              <button form="formaddcomment" type="submit" class="btn btn-primary float-right" th:text="#{label.submit}">Submit</button>
                           </div>
                        </div>
                        <form id="formaddcomment" class="card-body" action="#" th:action="@{/topo/comment/{topoId}(topoId=${topoDto.id})}" method="POST" enctype="utf8">
                           <textarea id="commentaire"  name="commentaire" class="form-control input-sm" rows="3" th:placeholder="#{placeholder.comment}"></textarea>
                        </form>
                     </div>
                  </div>

                  <div  class="col-md-12" >
                     <div class="card mt-2 mb-2" th:each="comment : ${commentDtoList}">
                        <div class="card-header inline-flex">
                           <img class="img-avatar float-left" th:src="@{/images/avatar/{avatar}.png(avatar=${comment.alias})}" alt="avatar"/>
                           <h5  class="center" th:text="${comment.alias}">Alias</h5>
                           <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-danger float-right" th:href="@{/topo/comment/delete/{id}(id=${comment.id})}" th:text="#{label.delete}" >Delete</a>
                        </div>
                        <div class="card-text">
                           <p th:text="${comment.text}"></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      <div th:replace="~{voie/voie-all :: voie}"></div>
   </div>

   <footer th:replace="~{fragments/footer :: footer}">&copy; 2019 Escalade</footer>

</body>
</html>