<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}"></head>
<body>
<header>

</header>

<div class="container-fluid">
   <nav th:replace="~{fragments/nav :: nav}"></nav>

   <div class="row">
      <div class="col-lg-3 col-sm-12">
         <div class="row">
            <aside class="col-md-12">
               <table class="table table-striped">
               <tr>
                  <td th:text="#{label.alias}">Alias</td>
                  <td th:text="${topoDto.aliasManager}">Alias</td>
               </tr>
               <tr>
                  <td th:text="#{label.status}">Status</td>
                  <td th:text="${topoDto.status}">Status</td>
               </tr>
                  <tr>
                     <td th:text="#{label.longitude}">Longitude</td>
                     <td th:text="${topoDto.longitude}" >Longitude</td>
                  </tr>
                  <tr>
                     <td th:text="#{label.latitude}">Latitude</td>
                     <td th:text="${topoDto.latitude}" >Latitude</td>
                  </tr>
                  <tr>
                     <td th:text="#{label.hasComment}">Has comment</td>
                     <td th:text="${topoDto.hasComment}" >Has comment</td>
                  </tr>
               </table>

               <div class="card" th:if="${addressDto != null}">
                  <h5 class="card-header">Address</h5>
                  <p class="center card-text" th:text="${addressDto.street1}"></p>
                  <p class="center card-text" th:text="${addressDto.street2}"></p>
                  <p class="center card-text" th:text="${addressDto.zipCode}"></p>
                  <p class="center card-text" th:text="${addressDto.city}"></p>
                  <p class="center card-text" th:text="${addressDto.country}"></p>
               </div>

               <div class="card">
                  <div class="card-header">
                     <h5 th:text="#{label.access}">access</h5>
                  </div>
                  <div class="card-text">
                     <p th:text="${topoDto.access}"></p>
                  </div>
               </div>
            </aside>
         </div>
      </div>

      <div class="col-lg-6 col-sm-12">
         <div class="row">
            <section class="col-md-12">
               <div class="card bg-dark text-white">
                  <img class="card-img" th:src="@{/images/{image}(image=${topoDto.photoLink})}" alt="photo"/>
                  <div class="card-img-overlay">
                     <h5 class="card-header" th:text="${topoDto.name}">Topo's name</h5>
                     <p class="card-title" th:text="${topoDto.region}">  </p>
                     <p class="card-text" th:text="${#dates.format(topoDto.date,'dd MMMM yyyy')}">  </p>
                  </div>
               </div>

               <div class="card">
                  <div class="card-header">
                     <h5 th:text="#{label.description}">description</h5>
                  </div>
                  <div class="card-text">
                     <p th:text="${topoDto.description}"></p>
                  </div>
               </div>
               <div  class="card">
                  <div class="card-header">
                     <h5 th:text="#{label.technic}">technic</h5>
                  </div>
                  <div class="card-text">
                     <p row="3" th:text="${topoDto.technic}"></p>
                  </div>
               </div>
            </section>
         </div>
      </div>

      <div class="col-lg-3 col-sm-12">
         <div class="row">
            <aside class="col-md-12">
               <form  action="#" th:action="@{/topo/comment/{topoId}(topoId=${topoDto.id})}" method="POST" enctype="utf8">
                  <label for="commentaire" th:text="#{label.comment}">Comment</label>
                  <textarea id="commentaire"  name="commentaire" class="form-control input-sm" rows="3" th:placeholder="#{placeholder.comment}"></textarea>
                  <button type="submit" class="btn btn-primary float-left" th:text="#{label.addComment}">Add comment</button>
               </form>
            </aside>

            <aside  class="col-md-12" >
               <div class="card" th:each="comment : ${commentDtoList}">
                  <div class="card-header">
                     <img class="img-avatar float-left" th:src="@{/images/avatar/{avatar}.png(avatar=${comment.alias})}" alt="avatar"/>
                     <h5  class="center" th:text="${comment.alias}">Alias</h5>
                  </div>
                  <div class="card-text">
                     <p th:text="${comment.text}"></p>
                  </div>
               </div>
            </aside>
         </div>
      </div>
   </div>

   <footer th:replace="~{fragments/footer :: footer}">&copy; 2019 Escalade</footer>
</div>
</body>
</html>