<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Getting Started: Handling Form Submission</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Liste des topos</h1>
<table>
   <thead>
   <tr>
      <th> Id </th>
      <th> Nom </th>
      <th> Type </th>
      <th> A un commentaire </th>
      <th> Lien photo </th>
      <th> Lien carte </th>
      <th> Edit </th>
      <th> Delete </th>
   </tr>
   </thead>
   <tbody>
   <tr th:if="${topoList.empty}">
      <td colspan="2"> Pas de topo disponible </td>
   </tr>
   <tr th:each="topo : ${topoList}">
      <td><span th:text="${topo.id}"> Id </span></td>
      <td><span th:text="${topo.nom}"> Nom </span></td>
      <td><span th:text="${topo.region}"> Région </span></td>
      <td><span th:text="${topo.aCommentaire}"> A un commentaire </span></td>
      <td><span th:text="${topo.lienPhoto}"> Lien photo </span></td>
      <td><span th:text="${topo.lienCarte}"> Lien carte </span></td>
      <td><a th:href="@{/editsite/{id}(id=${topo.id})}">Modifier</a></td>
      <td><a th:href="@{/deletesite/{id}(id=${topo.id})}">Supprimer</a></td>
   </tr>
   </tbody>
</table>
</body>
</html>