<!DOCTYPE HTML>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container-fluid">
   <nav th:replace="~{fragments/nav :: nav}"></nav>

   <header class="jumbotron">
      <H1 class="display-4">Liste des Topos</H1>
   </header>

   <section>
      <table class="table table-striped">
      <thead>
         <tr>
            <th width="10%" scope="col"> Id </th>
            <th width="30%" scope="col"> Nom </th>
            <th width="30%" scope="col"> Region </th>
            <th width="20%" scope="col"> Date </th>
            <th width="10%" scope="col"> </th>
         </tr>
      </thead>
      <tbody>
         <tr th:if="${topoList.empty}">
            <td colspan="2"> Pas de topo disponible </td>
         </tr>
         <tr th:each="topo : ${topoList}">
            <th scope="row"><span th:text="${topo.id}"> Id </span></th>
            <td><span th:text="${siteList.get(__${topo.id}__-1).nom}"> Nom </span></td>
            <td><span th:text="${topo.region}"> Région </span></td>
            <td><span th:text="${topo.date}"> Date </span></td>

            <td><a th:href="@{/edittopo/{id}(id=${topo.id})}"><button>Consulter</button></a></td>
         </tr>
      </tbody>
      </table>

   </section>

   <footer th:replace="~{fragments/footer :: footer}">&copy; 2019 Escalade</footer>
</div>
</body>
</html>