<!DOCTYPE HTML>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
   <div class="card mt-2 mb-2" th:fragment="topoinfo">
      <div class="card-header">
         <h5 th:text="${#messages.msg('label.topo')} + ' : ' + #{label.information}">Information</h5>
      </div>
      <div class="card-body">
         <table class="table table-striped">
            <tr>
               <td th:text="#{label.alias}">Alias</td>
               <td th:text="${topoDto.aliasManager}">Alias</td>
            </tr>
            <tr>
               <td th:text="#{label.status}">Status</td>
               <td th:text="${topoDto.status}">Status</td>
            </tr>
            <tr th:if="${topoDto.aliasClimber}">
               <td>
                  <img class="img-avatar" th:src="@{/images/avatar/{avatar}.png(avatar=${topoDto.aliasClimber})}" alt="avatar"/>
               </td>
               <td th:text="${topoDto.aliasClimber}">Climber alias</td>
            </tr>
            <tr>
               <td th:text="#{label.longitude}">Longitude</td>
               <td th:text="${topoDto.longitude}" >Longitude</td>
            </tr>
            <tr>
               <td th:text="#{label.latitude}">Latitude</td>
               <td th:text="${topoDto.latitude}" >Latitude</td>
            </tr>
            <tr>
               <td th:text="#{label.cotationMin}">Cotation min</td>

               <td th:if="__${#locale}__=='ko'" th:text="${topoDto.cotationMin} ? ${cotationDtoList[topoDto.cotationMin-1].levelUS} : None" >Cotation min</td>
               <td th:if="__${#locale}__=='fr'" th:text="${topoDto.cotationMin} ? ${cotationDtoList[topoDto.cotationMin-1].levelFR} : None" >Cotation min</td>
               <td th:if="__${#locale}__=='es'" th:text="${topoDto.cotationMin} ? ${cotationDtoList[topoDto.cotationMin-1].levelFR} : None" >Cotation min</td>
               <td th:if="__${#locale}__=='en'" th:text="${topoDto.cotationMin} ? ${cotationDtoList[topoDto.cotationMin-1].levelGB} : None" >Cotation min</td>
            </tr>
            <tr>
               <td th:text="#{label.cotationMax}">Cotation max</td>
               <td th:if="__${#locale}__=='ko'" th:text="${topoDto.cotationMax} ? ${cotationDtoList[topoDto.cotationMax-1].levelUS} : None" >Cotation max</td>
               <td th:if="__${#locale}__=='fr'" th:text="${topoDto.cotationMax} ? ${cotationDtoList[topoDto.cotationMax-1].levelFR} : None" >Cotation max</td>
               <td th:if="__${#locale}__=='es'" th:text="${topoDto.cotationMax} ? ${cotationDtoList[topoDto.cotationMax-1].levelFR} : None" >Cotation max</td>
               <td th:if="__${#locale}__=='en'" th:text="${topoDto.cotationMax} ? ${cotationDtoList[topoDto.cotationMax-1].levelGB} : None" >Cotation max</td>
            </tr>
            <tr>
               <td th:text="#{label.lane}">Lane</td>
               <td th:text="${topoDto.nbLane}">Lane</td>
            </tr>
         </table>
      </div>
   </div>
</body>