<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/head :: head}"></head>
<body>

<div class="container-fluid">
   <nav th:replace="~{fragments/nav :: nav}"></nav>

   <header>
      <ul class="nav nav-tabs">
         <li class="nav-item">
            <a class="nav-link"  th:href="@{/topo/read/{id}(id=${topoDto.id})}" >
               <label th:text="${topoDto.name}">Link</label>
            </a>
         </li>
         <li class="nav-item" th:each="sector : ${sectorDtoList}">
            <a th:href="@{/sector/read/{id}(id=${sector.id})}" th:class="${sector.id == sectorDto.id} ? 'nav-link active':'nav-link'" >
               <label th:text="${sector.name}">Link</label>
            </a>
         </li>
      </ul>
   </header>

   <div th:replace="~{sector/sector-info :: sectorinfo}"></div>

   <div  th:replace="~{voie/voie-fragment :: voie}"></div>

   <footer th:replace="~{fragments/footer :: footer}">&copy; 2019 Escalade</footer>
</div>
</body>
</html>