<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container-fluid">
   <nav th:replace="~{fragments/nav :: nav}"></nav>

   <header class="jumbotron">
      <div class="row">
         <div class="col-sm">
            <H1 class="display-4 float-left" th:text="#{title.registration}">Registration</H1>
         </div>
         <div class="col-sm my-auto">
            <button form="registration" type="submit" class="btn btn-primary float-right" th:text="#{label.submit}">Submit</button>
         </div>
      </div>
   </header>

   <section>
      <form class="col-md-6 mx-auto" id="registration" action="#" th:action="@{/user/update/{id}(id=${userDto.id})}"  method="POST" enctype="utf8">
         <input type="hidden"  th:field="${userDto.id}">
         <input type="hidden"  th:field="${userDto.password}">
         <input type="hidden"  th:field="${userDto.matchingPassword}">
         <input type="hidden"  th:field="${userDto.photoLink}">
         <div class="card mt-2 mb-2">
            <div class="card-header">
               <h5 th:text="#{label.information}">Information</h5>
            </div>
            <div class="card-body row">
               <div class="col-md-4 mb-3">
                  <label for="firstName" th:text="#{label.firstName}">First name</label>
                  <input id="firstName" type="text" th:field="${userDto.firstName}" class="form-control" th:placeholder="#{placeholder.firstName}">
                  <span th:if="${#fields.hasErrors('userDto.firstName')}" th:errors="${userDto.firstName}">Must have name</span>
               </div>
               <div class="col-md-4 mb-3">
                  <label for="lastName" th:text="#{label.lastName}">Last name</label>
                  <input id="lastName" type="text" th:field="${userDto.lastName}" class="form-control" th:placeholder="#{placeholder.lastName}">
                  <div th:each="error : ${#fields.errors('userDto.lastName')}" th:error="${userDto.lastName}" th:text="${error}"></div>
               </div>
               <div class="col-md-4 mb-3">
                  <label for="alias" th:text="#{label.alias}">Alias</label>
                  <input id="alias" type="text" th:field="${userDto.alias}" class="form-control" th:placeholder="#{placeholder.alias}">
                  <div th:each="error : ${#fields.errors('userDto.alias')}" th:error="${userDto.alias}" th:text="${error}"></div>
               </div>
            </div>
         </div>

         <div th:object="${addressDto}" th:replace="~{fragments/address :: address}"></div>

         <div class="card mt-2 mb-2">
            <div class="card-header">
               <h5 th:text="#{label.login.title}">Connection</h5>
            </div>
            <div class="card-body row">
               <div class="form-group col-md-4" >
                  <label for="email" th:text="#{label.email}">Email</label>
                  <input id="email" type="email" th:field="${userDto.email}" class="form-control" th:placeholder="#{placeholder.email}">
                  <small id="emailHelp" class="form-text text-muted">We dont reveale your Email address.</small>
                  <div th:each="error : ${#fields.errors('userDto.email')}" th:error="${userDto.email}" th:text="${error}"></div>
               </div>
               <div class="form-group col-md-2">
                  <label for="phone" th:text="#{label.phone}">Phone</label>
                  <input id="phone" type="text" th:field="${userDto.phone}" class="form-control" th:placeholder="#{placeholder.phone}">
                  <div th:each="error : ${#fields.errors('userDto.phone')}" th:text="${error}"></div>
               </div>
            </div>
         </div>
      </form>
   </section>

   <section class="col-md-6 mx-auto endpage">
      <div class="card mt-2 mb-2">
         <div class="card-header">
            <h5 th:text="#{label.emblem}">Emblem</h5>
         </div>
         <div class="card-body">
            <img class="card-img" th:src="@{/images/avatar/{image}(image=${userDto.photoLink})}" alt="photo"/>
         </div>
         <div class="card-footer">
            <form id="formphoto" action="#"  th:action="@{/uploadFile(${_csrf.parameterName}=${_csrf.token})}" enctype="multipart/form-data" method="POST">
               <input type="file" name="file"/>
               <input type="hidden" name="siteType" th:value="USER">
               <input type="hidden" name="siteId" th:value="${userDto.id}">
               <input type="hidden" name="fileType" th:value="avatar">
               <button form="formphoto" type="submit" class="btn btn-primary float-right" th:text="#{label.upload}">Upload</button>
            </form>
         </div>
      </div>
   </section>

   <footer th:replace="~{fragments/footer :: footer}">&copy; 2019 Escalade</footer>
</div>
</body>
</html>