<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container-fluid">
   <nav th:replace="~{fragments/nav :: nav}"></nav>

   <header >
      <div th:if="${param.error}">
         Invalid username and password.
      </div>
      <div th:if="${param.logout}">
         You have been logged out.
      </div>
   </header>

   <div class="page col-md-2 mx-auto">
   <section class="row h-100">
      <div class="my-auto">
         <div class="card card-block col-md-12">
            <div class="card-header">
               <H1 th:text="#{title.password}">Change password</H1>
            </div>
            <form class="card-body" th:action="@{/user/update/password}" th:object="${userDto}" method="POST">
               <input type="hidden"  th:field="${userDto.id}">
               <input type="hidden"  th:field="${userDto.firstName}">
               <input type="hidden"  th:field="${userDto.lastName}">
               <input type="hidden"  th:field="${userDto.alias}">
               <input type="hidden"  th:field="${userDto.password}">
               <input type="hidden"  th:field="${userDto.matchingPassword}">
               <input type="hidden"  th:field="${userDto.photoLink}">
               <input type="hidden"  th:field="${userDto.phone}">
               <input type="hidden"  th:field="${userDto.address}">
               <input type="hidden"  th:field="${userDto.roles}">

               <div class="form-group">
                  <label for="email" th:text="#{label.email}">Email address</label>
                  <input type="email" name="email" class="form-control input-lg" id="email" aria-describedby="emailHelp" th:placeholder="#{placeholder.email}" readonly>
                  <small id="emailHelp" class="form-text text-muted" th:text="#{message.email}">We'll never share your emailConfiguration with anyone else.</small>
               </div>
               <div class="form-group">
                  <label for="password"  th:text="#{label.password}">Password</label>
                  <input type="password" name="password" class="form-control input-lg" id="password" th:placeholder="#{placeholder.password}">
               </div>
               <div class="form-group">
                  <label for="matchingPassword"  th:text="#{label.matchingPassword}">Password</label>
                  <input type="password" name="matchingPassword" class="form-control input-lg" id="matchingPassword" th:placeholder="#{placeholder.password}">
               </div>

               <div class="form-row">
                  <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary col-md-12" th:text="#{label.submit}">Submit</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </section>
   </div>
   <footer th:replace="~{fragments/footer :: footer}">&copy; 2019 Escalade</footer>
</div>
</body>
</html>