<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
   <title>Spring Security Example</title>
</head>
<body>
   <div class="footer text-center" th:fragment="footer">
      <p> <a href="#"> Terms of Use</a> | <a href="#">What's New</a> | <a href="#">Aide</a> </p>
      <!-- javascripts -->
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
      </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   </div>
</html>