<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
   <title>Spring Security Example</title>
</head>
<body>
   <div class="footer text-center" th:fragment="footer">
      <p> <a href="#"> Terms of Use</a> | <a href="#">What's New</a> | <a href="#">Help</a> </p>
      <!-- javascripts -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js">
      </script>
   </div>
</body>
</html>