 body { 
  background-color: #DDD;
  padding-top: 10px;
}

[class*="col-"] { 
  margin-bottom: 20px; 
}

img { 
  width: 200px; 
  box-shadow: 5px 5px 5px black;
}

nav .navbar-nav li i  {
    color : white;
}

nav .navbar-nav li a  {
    color : white;
}

nav .navbar-nav li a:hover {
	color: purple;
}

header {
     margin-top : 50px;
     padding-left: 20px;
	text-align: center;
}

section {
	padding-left: 20px;
}

aside {
	text-align: center;
	color: black;
}

footer {
	text-align: center;
	padding-top: 20px;
	color : white;
}


footer a {
	color : white;
}


a:hover {
	color: purple;
}

.center {
	text-align: center;
}

.thumbnail {
	display: inline-grid;
}

@media all and (max-width: 768px) {
	aside {
		display: none;
	}	
}

@media all and (max-width: 800px) {
	aside {
		display: none;
	}
	
	.thumbnail {
		display: none;
	}
}


