<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
   <title>Hello World!</title>

</head>
<body>
<h1 th:inline="text">Index</h1>
<div th:switch="${utilisateurs}">
   <h2 th:case="null">No users yet!</h2>
   <div th:case="** ">
      <h2>Users</h2>
      <table>
         <thead>
         <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
         </tr>
         </thead>
         <tbody>
         <tr th:each="user : ${utilisateurs}">
            <td th:text="${user.nom}"></td>
            <td th:text="${user.email}"></td>
            <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>
            <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>
         </tr>
         </tbody>
      </table>
   </div>
   <p><a href="/signup">Add a new user</a></p>
</div>

</body>
</html>