<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container-fluid">
   <nav th:replace="~{fragments/nav :: nav}"></nav>

   <header class="jumbotron">
      <H1 class="display-4">Login</H1>
   </header>

   <section>
      <div th:if="${param.error}">
         Invalid username and password.
      </div>
      <div th:if="${param.logout}">
         You have been logged out.
      </div>
      <form th:action="@{/login}" method="post">
         <div><label> Email : <input type="email" name="email"/> </label></div>
         <div><label> Password : <input type="password" name="password"/> </label></div>
         <div><input type="submit" value="Valider"/>
            <a th:href="@{/registration}">
               <button>Inscription</button>
            </a>
         </div>
      </form>
   </section>
   <footer th:replace="~{fragments/footer :: footer}">&copy; 2019 Escalade</footer>
</div>
</body>
</html>