<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">Liste des Sites</head>
<body>
<div th:insert="~{fragments/nav :: navbar}"></div>
<table>
   <thead>
   <tr>
      <th> Id </th>
      <th> Nom </th>
      <th> Type </th>
      <th> Commentaire </th>
      <th> Lien photo </th>
      <th> Lien carte </th>
      <th> Edit </th>
      <th> Delete </th>
   </tr>
   </thead>
   <tbody>
   <tr th:if="${siteList.empty}">
      <td colspan="2"> Pas de site disponible </td>
   </tr>
   <tr th:each="site : ${siteList}">
      <td><span th:text="${site.id}"> Id </span></td>
      <td><span th:text="${site.nom}"> Nom </span></td>
      <td><span th:text="${site.type}"> Type </span></td>
      <td><input type="checkbox" name="Commentaire" th:checked="${site.aCommentaire}" onclick="return false;" onkeydown="e = e || window.event; if(e.keyCode !== 9) return false;"/></td>
      <td><span th:text="${site.lienPhoto}"> Lien photo </span></td>
      <td><span th:text="${site.lienCarte}"> Lien carte </span></td>
      <td><a th:href="@{/editsite/{id}(id=${site.id})}">Modifier</a></td>
      <td><a th:href="@{/deletesite/{id}(id=${site.id})}">Supprimer</a></td>
   </tr>
   </tbody>
</table>
<div th:insert="~{fragments/footer :: footer}">&copy; 2017 The Static Templates</div>
</body>
</html>