<!DOCTYPE HTML>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
   <div class="col-lg-8 mx-auto"  th:fragment="spitlist">
      <form id="formspitsave" class="col-lg-12"  action="#" th:action="@{/spit/update}" th:object="${spitDtoList}" method="POST" enctype="utf8">
         <input class="form-control" type="hidden" name="LongueurId" th:value="${longueurDto.id}"/>
         <div class="card">
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col" th:text="#{label.spitNumber}">Block number</th>
                     <th scope="col" th:text="#{label.cotation}">Cotation</th>
                     <th scope="col" th:text="#{label.relay}">Is relay</th>
                     <th scope="col" class="col-md-4" th:text="#{label.comment}">Comment</th>
                     <th scope="col" class="col-md-2">
                        <button form="formspitsave" type="submit" class="btn btn-primary btn-block" th:text="#{label.submit}">Submit</button>
                     </th>
                  </tr>
               </thead>
               <tbody class="card-body">
                  <tr th:each="spit, itemStat : *{spitDtos}" >
                     <td>
                        <input class="form-control" type="text" th:field="*{spitDtos[__${itemStat.index}__].number}"/>
                        <input class="form-control" type="hidden" th:field="*{spitDtos[__${itemStat.index}__].topoId}"/>
                        <input class="form-control" type="hidden" th:field="*{spitDtos[__${itemStat.index}__].voieId}"/>
                        <input class="form-control" type="hidden" th:field="*{spitDtos[__${itemStat.index}__].longueurId}"/>
                     </td>
                     <td>
                        <select class="form-control" id="${spit.cotationId}" name="${spit.cotationId}" th:field="*{spitDtos[__${itemStat.index}__].cotationId}">
                           <option th:each="cotation : ${cotationDtoList}" th:value="${cotation.id}" th:text="${cotation.levelFR}" th:selected="${cotation.id==spit.cotationId}"></option>
                        </select>
                     </td>
                     <td>
                        <input class="btn mb-2" type="checkbox" name="isRelay" th:field="*{spitDtos[__${itemStat.index}__].isRelay}" th:checked="${spit.isRelay}"/>
                     </td>
                     <td>
                        <input class="form-control" type="text" th:field="*{spitDtos[__${itemStat.index}__].comment}"/>
                     </td>
                     <td>
                        <a class="btn btn-danger btn-block" th:href="@{'/spit/delete/' + ${longueurDto.id} + '/' + ${spit.number}}" th:text="#{label.delete}">Delete</a>
                     </td>
                  </tr>
               </tbody>
               <tfooter>

               </tfooter>
            </table>
         </div>
      </form>
   </div>
</body>