<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container-fluid">
   <nav th:replace="~{fragments/nav :: nav}"></nav>

   <header class="jumbotron">
      <H1 class="display-4">Enregistrement</H1>
   </header>

   <section>
      <form action="#" th:action="@{/enregistrement}" th:object="${user}" method="POST" enctype="utf8">
         <div>
            <label class="col-sm-3">Prénom</label>
            <span class="col-sm-5"><input th:field="*{firstName}" placeholder="Prénom"/></span>
            <p th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
         </div>
         <div>
            <label class="col-sm-3">Nom</label>
            <span class="col-sm-5"><input th:field="*{lastName}" placeholder="Nom"/></span>
            <p th:each="error : ${#fields.errors('lastName')}"
               th:text="${error}">Validation error</p>
         </div>
         <div>
            <label class="col-sm-3">Email</label>
            <span class="col-sm-5"><input type="email" th:field="*{email}" placeholder="Email"/></span>
            <p th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error</p>
         </div>
         <div>
            <label class="col-sm-3" >Alias</label>
            <span class="col-sm-5"><input th:field="*{alias}" placeholder="Alias"/></span>
            <p th:each="error : ${#fields.errors('alias')}"
               th:text="${error}">Validation error</p>
         </div>
         <div>
            <label class="col-sm-3" >Mot de passe</label>
            <span class="col-sm-5"><input type="password" th:field="*{password}" placeholder="Mot de passe"/></span>
            <p th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
         </div>
         <div>
            <label class="col-sm-3">Confirmer le mot de passe</label>
            <span class="col-sm-5"><input type="password" th:field="*{matchingPassword}" placeholder="Confirmation"/></span>
         </div>
         <input class="col-sm-3" type="submit" value="Valider">
      </form>



   </section>

   <footer th:replace="~{fragments/footer :: footer}">&copy; 2019 Escalade</footer>
</div>
</body>
</html>