<!DOCTYPE HTML>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container-fluid">
   <nav th:replace="~{fragments/nav :: nav}"></nav>


   <header class="jumbotron">
      <div class="row">
         <div class="col-sm">
            <H1 class="display-4 float-left" th:text="#{title.voieNew}">New Voie</H1>
         </div>
         <div class="col-sm my-auto">
            <div class="float-right" >
               <a class="btn btn-primary" th:href="@{/topo/edit/{id}(id=${voieDto.parentId})}" th:text="#{label.cancel}">Cancel</a>
               <button form="formvoieadd" type="submit" class="btn btn-primary" th:text="#{label.submit}">Submit</button>
            </div>
         </div>
      </div>
   </header>

   <form id="formvoieadd" class="row" action="#" th:action="@{/voie/add}" method="POST" enctype="utf8">
      <div class="col-lg-6 mx-auto">
         <div class="card mt-2 mb-2">
            <div class="card-body">
               <div class="input-group mb-2">
                  <div class="input-group-prepend">
                     <div class="input-group-text" th:text="#{label.parentId}">Parent Id</div>
                  </div>
                  <input type="text" class="form-control" th:field="${voieDto.parentId}" readonly>
               </div>

               <div class="input-group mb-2">
                  <div class="input-group-prepend">
                     <div class="input-group-text" th:text="#{label.name}">Name</div>
                  </div>
                  <input type="text" class="form-control" th:field="${voieDto.name}" th:placeholder="#{placeholder.name}">
               </div>
            </div>
            <div class="card-footer">
               <span th:if="${#fields.hasErrors('voieDto.name')}" th:errors="${voieDto.name}"></span>
            </div>
         </div>
         <div class="card mt-2 mb-2">
            <div class="card-body">
               <div class="input-group mb-2">
                  <div class="input-group-prepend">
                     <div class="input-group-text" th:text="#{label.longitude}">Longitude</div>
                  </div>
                  <input type="text" class="form-control" th:field="${voieDto.longitude}" th:placeholder="#{placeholder.longitude}">
               </div>

               <div class="input-group mb-2">
                  <div class="input-group-prepend">
                     <div class="input-group-text" th:text="#{label.latitude}">Latitude</div>
                  </div>
                  <input type="text" class="form-control" th:field="${voieDto.latitude}" th:placeholder="#{placeholder.latitude}">
               </div>
            </div>
            <div class="card-footer">
               <span th:if="${#fields.hasErrors('voieDto.longitude')}" th:errors="${voieDto.longitude}"></span>
               <span th:if="${#fields.hasErrors('voieDto.latitude')}" th:errors="${voieDto.latitude}"></span>
            </div>
         </div>

         <div class="card mt-2 mb-2">
            <div class="card-body">
               <div class="input-group mb-2">
                  <div class="input-group-prepend">
                     <div class="input-group-text" th:text="#{label.heigth}">Heigth</div>
                  </div>
                  <input type="text" class="form-control" th:field="${voieDto.heigth}" th:placeholder="#{placeholder.heigth}">
               </div>
               <div class="input-group mb-2">
                  <div class="input-group-prepend">
                     <div class="input-group-text" th:text="#{label.cotation}">Cotation Id</div>
                  </div>
                  <select class="btn mb-2" th:field="${voieDto.cotationId}">
                     <option th:each="cotation : ${cotationDtoList}" th:value="${cotation.id}" th:text="${cotation.levelFR}"></option>
                  </select>
               </div>

               <span class="btn mb-2" th:text="#{label.isEquipped}">Is Equipped</span>
               <input class="btn mb-2" type="checkbox" name="isEquipped"  th:checked="${voieDto.isEquipped}"/>
            </div>
            <div class="card-footer">
               <span th:if="${#fields.hasErrors('voieDto.heigth')}" th:errors="${voieDto.heigth}"></span>
            </div>
         </div>
      </div>
   </form>


   <footer th:replace="~{fragments/footer :: footer}">&copy; 2019 Escalade</footer>
</div>
</body>
</html>