<!DOCTYPE HTML>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container-fluid">
   <nav th:replace="~{fragments/nav :: nav}"></nav>

   <header class="jumbotron">
      <H1 class="display-4" th:text="#{title.voieNew}">New Voie</H1>
   </header>

   <section>
   <form  class="row" action="#" th:action="@{/voie/add}" method="POST" enctype="utf8">

      <div class="input-group mb-2">
         <div class="input-group-prepend">
            <div class="input-group-text" th:text="#{label.parentId}">Parent Id</div>
         </div>
         <input type="text" class="form-control" th:field="${voieDto.parentId}" readonly>
      </div>


      <div class="input-group mb-2">
            <div class="input-group-prepend">
               <div class="input-group-text" th:text="#{label.name}">Name</div>
            </div>
            <input type="text" class="form-control" th:field="${voieDto.name}" th:placeholder="#{placeholder.name}">
         </div>
         <span th:if="${#fields.hasErrors('voieDto.name')}" th:errors="${voieDto.name}"></span>

         <div class="input-group mb-2">
            <div class="input-group-prepend">
               <div class="input-group-text" th:text="#{label.longitude}">Longitude</div>
            </div>
            <input type="text" class="form-control" th:field="${voieDto.longitude}" th:placeholder="#{placeholder.longitude}">
         </div>
         <span th:if="${#fields.hasErrors('voieDto.longitude')}" th:errors="${voieDto.longitude}"></span>

         <div class="input-group mb-2">
            <div class="input-group-prepend">
               <div class="input-group-text" th:text="#{label.latitude}">Latitude</div>
            </div>
            <input type="text" class="form-control" th:field="${voieDto.latitude}" th:placeholder="#{placeholder.latitude}">
         </div>
         <span th:if="${#fields.hasErrors('voieDto.latitude')}" th:errors="${voieDto.latitude}"></span>

         <div class="input-group mb-2">
            <div class="input-group-prepend">
               <div class="input-group-text" th:text="#{label.photo}">Photo</div>
            </div>
            <input type="text" class="form-control" th:field="${voieDto.photoLink}" th:placeholder="#{placeholder.photo}">
         </div>
         <span th:if="${#fields.hasErrors('voieDto.photoLink')}" th:errors="${voieDto.photoLink}"></span>

         <div class="input-group mb-2">
            <div class="input-group-prepend">
               <div class="input-group-text" th:text="#{label.map}">Map</div>
            </div>
            <input type="text" class="form-control" th:field="${voieDto.mapLink}" th:placeholder="#{voieDto.map}">
         </div>
         <span th:if="${#fields.hasErrors('voieDto.mapLink')}" th:errors="${voieDto.mapLink}"></span>

      <div class="input-group mb-2">
         <div class="input-group-prepend">
            <div class="input-group-text" th:text="#{label.heigth}">Heigth</div>
         </div>
         <input type="text" class="form-control" th:field="${voieDto.heigth}" th:placeholder="#{placeholder.heigth}">
      </div>
      <span th:if="${#fields.hasErrors('voieDto.heigth')}" th:errors="${voieDto.heigth}"></span>

      <div class="input-group mb-2">
         <div class="input-group-prepend">
            <div class="input-group-text" th:text="#{label.cotation}">Cotation Id</div>
         </div>
         <select class="btn mb-2" th:field="${voieDto.cotationId}">
            <option th:each="cotation : ${cotationDtoList}" th:value="${cotation.id}" th:text="${cotation.levelFR}"></option>
         </select>
      </div>

      <span class="btn mb-2" th:text="#{label.isEquipped}">Is Equipped</span>
      <input class="btn mb-2" type="checkbox" name="isEquipped"  th:checked="${voieDto.isEquipped}"/>

      <span class="btn mb-2" th:text="#{label.hasComment}">Has Comment</span>
      <input class="btn mb-2" type="checkbox" name="hasComment"  th:checked="${voieDto.hasComment}"/>

      <div class="row">
         <div class="form-group col-md-12">
            <div class="float-right" >
               <a class="btn btn-primary" th:href="@{/topo/edit/{id}(id=${voieDto.parentId})}" th:text="#{label.cancel}">Cancel</a>
               <button type="submit" class="btn btn-primary" th:text="#{label.submit}">Submit</button>
            </div>
         </div>
      </div>
   </form>
   </section>

   <footer th:replace="~{fragments/footer :: footer}">&copy; 2019 Escalade</footer>
</div>
</body>
</html>